* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,217,252,1) 55%);
    color: white;
    font-family: "poppins", sans-serif;
  }
  
  header {
    font-size: 1.5rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.1rem;
    background: white;
    outline: none;
    border: none;
  }
  
  form button {
    color: darkblue;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  form button:hover {
    background-color: darkblue;
    color: white;
  }
  
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    border-radius: 0.2rem;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }
  
  .todo li {
    flex: 1;
  }
  
  .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .trash-btn,
  .complete-btn {
    background: darkblue;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .complete-btn {
    background: darkgreen;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  select {
    border-radius: 0.2rem;
    color: darkblue;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
  }
  
  .select::after {
    content: "\25BC";
    position: absolute;
    background: darkblue;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    cursor: pointer;
  }
  
  